body{
    color: #777;
    background-image: url("/assets/images/qbkls.png");
}

img{
    width: 350px;
    margin: 0px 15px 15px 0px;
}

a{
    color: #777;
}

nav{
    background-color: #ffffff;
    border-bottom: solid #cccccc 2px;
    padding: 0px;
    margin: 0px;
}

h1{
    color: #fff;
    background-color: #4aaaa5;
    padding: 7px;
    margin: 0px;
    position: relative;
    top: 8px;
    left: 4%;
}

footer{
    background-color: #777;
    color: #ccc;
    padding: 20px 0px;
    text-align: center;
    border-top: solid #4aaaa5 4px;
}

.copy-right{
    position: relative;
    top: 28px;

}

section{
    background-color: #fff;
    padding: 15px;
    margin: 50px 0px;
}

h3{
    color: #4aaaa5;
}

#sbmt{
    background-color: #4aaaa5;
    margin: 7px;
    border: 0px;
}